.fileContainer {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

.fileContainerGallery {
  margin-top: 30px;
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 320px;
}

.fileContainerInfo {
  max-width: 400px;
}
